<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GeoQuizz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./style/css/bootstrap-grid.min.css">
        <link rel="stylesheet" type="text/css" href="./style/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" type="text/css" href="./style/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="./style/css/player.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/site.webmanifest">
        <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <script src="./script/jquery.min.js"></script> 
        <script src="./script/bootstrap.bundle.min.js"></script> 
        <script src="./script/bootstrap.min.js"></script>
    </head>

    <body> 
        <div id="app" v-cloak>
            <!-- End Game Menu -->
            <section class="d-flex justify-content-center align-items-center" v-if="end_game" id="end-game"> 
                <div v-if="is_loading">
                    <div class="pin"></div>
                    <div class="pulse"></div>
                </div>
                <transition v-if="end_game && !is_loading" name="fade">
                    <div>
                        <img src="./images/logo.png" class="end-logo img-fluid no_padding ml-2">
                        <div id="new-form" class="col-md-12 no_padding">
                            <div class="form-row no_padding no_margin">
                                <div class="form-row col-md-12 d-flex justify-content-center align-items-center">
                                    <div class="text-center">
                                        <p class="h2">Votre score final : {{score}} point(s).</p>
                                        <p class="h4">Série : {{actualSerie.ville}}.</p>
                                        <button @click="end_game = false" class="btn btn-primary btn-lg mb-4">Retour à l'accueil</button>
                                    </div>
                                </div>
                                <div class="form-row col-md-12 no_padding no_margin">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                            <th scope="col">Meilleurs joueurs</th>
                                            <th scope="col">Pseudo</th>
                                            <th scope="col">Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-if="scoresLoeaded" v-for="(user, index) in bestScores">
                                                <th scope="row">{{index+1}}</th>
                                                <td>{{user.joueur}}</td>
                                                <td>{{user.score}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </section>

            <!-- MAP + RIGHT MENU -->
            <section id="home" v-if="!end_game">
                <div v-if="is_loading">
                    <div class="pin"></div>
                    <div class="pulse"></div>
                </div>
                <transition v-if="!has_started && !is_loading && !end_game" name="fade">
                    <div id="center" class="d-flex justify-content-center align-items-center">
                        <div id="new-form" class="col-md-9 no_padding">
                            <img src="./images/logo.png" class="logo img-fluid mx-auto d-block">
                            <div class="form-row no_padding no_margin">
                                <div class="note">
                                    <p class="h2">Commencer une nouvelle partie</p>
                                    <p class="h4">Embarquer pour une expérience qui vous fera découvrir le monde.</p>
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" v-model="pseudo" placeholder="Pseudo" id="inputPseudo">
                                </div>
                                <div class="form-group col-md-4">
                                    <select id="inputSerie" v-model="actualSerie" class="form-control">
                                        <option value="" disabled selected>Série</option>
                                        <option v-for="opt in allSeries" v-bind:value="opt">{{opt.ville}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <select id="inputDifficulty" v-model="difficulty" class="form-control">
                                        <option value="" disabled selected>Difficulté</option>
                                        <option value="750">Facile</option>
                                        <option value="500" >Moyen</option>
                                        <option value="250">Dificile</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="text-right">
                                <button id="btn_newGame" type="submit" v-on:click="create_game" class="btn btn-primary">Nouvelle partie</button>
                            </div>
                            
                            <div v-if="game_error" class="alert alert-danger text-center" role="alert">
                                Ohoh ! Il y'a eu un problème, veuillez-réessayer ultérieurement.
                            </div>

                            <div class="alert alert-success text-center">
                                <p class="h4">&darr; Pour savoir comment jouer &darr;</p>
                            </div>
                        </div>
                        <a href="#how-to" class="scroll-down" address="true"></a>
                    </div>
                </transition>
                <!-- Game -->
                <div class="player-container" v-if="has_started">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand text-white" v-on:click="return_home">
                            <img src="./images/logo_menu.png"  height="45" class="d-inline-block align-middle" alt="">
                        </a>
                    </nav>
                    <div id="player">
                        
                        <div class="col-md-8 no_padding">
                            <!-- MAP -->
                            <lmap>
                            </lmap>
                        </div>

                        <div id="right_panel" class="col-md-4 no_padding">
                            <!-- Right Menu -->
                            <div class="img-container">
                                <div v-if="img_is_loading">
                                    <div class="pin"></div>
                                    <div class="pulse"></div>
                                </div>
                                <img v-show="!img_is_loading" v-on:load="imgLoaded" v-on:click="enlargedImage = true" class="img-fluid searchedImage" :src="this.images[index_img].url"/>
        
                                <div v-if="enlargedImage" class="modal-container">
                                    <div v-on:click="enlargedImage = false" class="modal-body">
                                        <img v-on:click="enlargedImage = true" class="img-fluid enlargedImage" :src="this.images[index_img].url"/>
                                    </div>
                                </div>
                            </div>
        
                            <div id="infos">
                                <h4 v-show="!img_is_loading" class="h4">Recherchez cette image.</h4>
                                <chronometer></chronometer>
                                <h2 class="h2">Score : {{score}}</h2>
                                <button v-if="has_played" class="btn btn-secondary btn-lg" @click="next_round">Photo suivante !</button>
        
                                <p v-if="has_played && score_increment === 5" class='alert alert-success'>Bien joué, la distance est de {{distanceBetween}}km, trouvé en {{time.min}} minutes, {{time.sec}} secondes et {{time.msec}} ms. <strong>+ {{scoreAdding}} points !</strong></p>
                                <p v-if="has_played && score_increment === 3" class='alert alert-warning'>Presque, la distance est de {{distanceBetween}}km, trouvé en {{time.min}} minutes, {{time.sec}} secondes et {{time.msec}} ms. <strong>+ {{scoreAdding}} points !</strong></p>
                                <p v-if="has_played && score_increment === 1" class='alert alert-danger'>Pas fou, la distance est de {{distanceBetween}}km, trouvé en {{time.min}} minutes, {{time.sec}} secondes et {{time.msec}} ms. <strong>+ {{scoreAdding}} point !</strong></p>
                                <p v-if="has_played && score_increment === 0" class='alert alert-secondary'>Raté, la distance est de {{distanceBetween}}km, trouvé en {{time.min}} minutes, {{time.sec}} secondes et {{time.msec}} ms. <strong>Vous ne gagnez aucun point.</strong></p>
        
                                <p v-if="has_played" class=''>Le lieu était {{this.images[this.index_img].description}}.</p>
                                <button v-if="isSelected" @click="validate_choice" class="btn btn-primary btn-lg">Valider le choix</button>
                                <div v-if="game_error" class="alert alert-danger text-center" role="alert">
                                    Ohoh ! Il y'a eu un problème, veuillez-réessayer ultérieurement.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- How to play Menu -->
            <section class="d-flex justify-content-center align-items-center" v-if="!has_started && !is_loading && !end_game" id="how-to">
                <div id="new-form" class="col-md-9 no_padding">
                    <div class="form-row no_padding no_margin">
                        <div class="form-group col-md-5">
                            <p class="h1">Comment jouer ?</p>
                        </div>
                        <div class="form-group col-md-6">
                            <p class="h3">Un jeu amusant où tu dois positionner une photo sur la carte de ta ville sans te tromper et plus vite que les autres !</p>
                            <br/><ul class="list-group list-group-flush">
                                <li class="list-group-item">10 photos à placer sur la même carte</li>
                                <li class="list-group-item">A chaque réponse : des points</li>
                                <li class="list-group-item">objectif : obtenir un maximum de points</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>  


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- <script src="./script/vue.min.js"></script> -->
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script> 
        <script src="./script/axios.min.js"></script>
        <script src="./components/lmap.js"></script> 
        <script src="./components/chronometer.js"></script> 
        <script>
        const url = "http://localhost:8084/";
        new Vue({
            el: '#app',
            data: { 
                enlargedImage: false,
                game_id: '',
                images: [
                ],
                index_img: 0,
                partie:{},
                //Game
                pseudo: '',
                allSeries : {}, //All existing series from the API
                actualSerie: '', //Serie choosen by the user
                is_loading: false,
                img_is_loading: false,
                game_error: false,
                has_started: false,
                end_game: false,
                has_played: false,
                isSelected: false,
                distanceBetween: 0,
                score: 0,
                scoreAdding: 0,
                score_increment: 0,
                difficulty: 500,
                time: {
                    sec:0,
                    min:0,
                    hr:0,
                    msec:0
                },
                bestScores: {},
                scoresLoeaded: false,
                //Map
                map_data:{
                    map_lat:48.6937223,
                    map_lng:6.1834097,
                    map_zoom:13,
                    map_city:'Nancy'
                }
            },

            mounted() {
                this.getSeries();
            },

            methods: { 
                /* Method used to initialize the game */
                create_game(){
                    if(this.pseudo !== "")
                        document.getElementById("inputPseudo").classList.remove("is-invalid");
                    else
                        document.getElementById("inputPseudo").classList.add("is-invalid");
                    
                    if(this.actualSerie !== "")
                        document.getElementById("inputSerie").classList.remove("is-invalid");
                    else
                        document.getElementById("inputSerie").classList.add("is-invalid");
                    
                    if((this.actualSerie !== "") && (this.pseudo !== "")){
                        //Reset data
                        this.score = 0;
                        this.scoresLoeaded = false;
                        //Instanciate map
                        this.map_data.map_lat = this.actualSerie.map_lat;
                        this.map_data.map_lng = this.actualSerie.map_long;
                        this.map_data.map_city = this.actualSerie.ville;
                        document.getElementById("btn_newGame").disabled = true; //Disable button, prevent multiple click
                        this.is_loading = true;
                        //Create the game
                        let options = {joueur: this.pseudo, serie: this.actualSerie};
                        axios.post(url + "parties?limit=10", options).then((responsePartie) => {
                            this.images = responsePartie.data.photos;
                            this.partie = responsePartie.data;
                            //Adding image url
                            this.images.forEach(element => {
                                element.url = url + "photos/" + element.url;
                            });
                            this.has_started = true;
                            this.is_loading = false;
                            this.img_is_loading = true;
                        }).catch((error) => {
                            this.is_loading = false;
                            this.game_error = true;
                        });
                    }
                },

                /* Method used to get the choice (marker)
                @Param latlng Lat and lng of the point */
                submit_choice(latlng){
                    this.isSelected = false;
                    this.scoreAdding = 0;
                    //Score by distance
                    let distance = this.distance(latlng['lat'],latlng['lng'],this.images[this.index_img]['latitude'],this.images[this.index_img]['longitude']);
                    if(distance < this.difficulty){
                        this.score_increment = 5;
                        this.scoreAdding += 5;
                    }
                    else if(distance < 2*this.difficulty){
                        this.score_increment = 3;
                        this.scoreAdding += 3;
                    }
                    else if(distance < 3*this.difficulty){
                        this.score_increment = 1;
                        this.scoreAdding += 1;
                    }
                    else{
                        this.score_increment = 0;
                    }
                    //Score by time (x4 if < 5s, w2 if < 10s, x0 if > 20s)
                    if(this.time.sec < 5 && this.time.min < 1){
                        this.scoreAdding *= 4;
                    }
                    else if(this.time.sec < 10 && this.time.min < 1){
                        this.scoreAdding *= 2;
                    }
                    else if(this.time.sec > 20 || this.time.min > 0){
                        this.scoreAdding = 0;
                        this.score_increment = 0;
                    }
                    this.score += this.scoreAdding;
                    this.distanceBetween = (distance / 1000).toFixed(2);
                    this.has_played = true;
                },

                /* Methode used to validate the choice of the user (marker) */
                validate_choice(){
                    this.$children[1].chronoStop();
                    let time = this.$children[1].diff;
                    this.time.msec = time.getMilliseconds();
                    this.time.sec = time.getSeconds();
                    this.time.min = time.getMinutes();
                    this.time.hr = time.getHours()-1;
                    document.getElementById('chronotime').className = "text-success h3"; //Change timer color to green     
                    this.$children[0].validate_choice();
                },

                /* Method used to get the distance (in metter) of 2 points (lat, lng) */
                distance(lat1, lng1, lat2, lng2){
                    let earth_radius = 6378137;   // Earth = radius 6378km
                    let rlo1 = this.deg2rad(lng1);
                    let rla1 = this.deg2rad(lat1);
                    let rlo2 = this.deg2rad(lng2);
                    let rla2 = this.deg2rad(lat2);
                    let dlo = (rlo2 - rlo1) / 2;
                    let dla = (rla2 - rla1) / 2;
                    let a = (Math.sin(dla) * Math.sin(dla)) + Math.cos(rla1) * Math.cos(rla2) * (Math.sin(dlo) * Math.sin(dlo));
                    let d = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                    let meter = (earth_radius * d);

                    return meter;
                },

                /* Method used to convert degrees to radiant */
                deg2rad(degrees)
                {
                    var pi = Math.PI;
                    return degrees * (pi/180);
                },

                /* Method save_score used to update the score of the player in the API */
                save_score(){
                    this.is_loading = true;
                    this.partie.score = this.score;
                    this.partie.serie = this.actualSerie;
                    this.partie.status = 1; //Ended = 1
                    axios.put(url + "parties/" + this.partie.id, this.partie, {headers: {'x-token': this.partie.token}}).then((response) => {
                        this.getBestScores();
                    }).catch((error) => {
                        this.is_loading = false;
                        this.game_error = true;
                    });
                },

                /* Method used to go to the next photo */
                next_round(){
                    //Test if end of game
                    if(this.index_img+1 === this.images.length){
                        this.save_score();
                        //End
                        this.end_game = true;
                        this.is_loading = false;
                        this.isSelected = false;
                        this.has_played = false;
                        this.has_started = false;
                        this.index_img = 0;
                    }else{
                        this.img_is_loading = true;
                        this.is_loading = true;
                        this.isSelected = false;
                        this.has_played = false;
                        this.index_img++;
                        this.$children[1].chronoStop();
                        this.$children[1].chronoReset();
                        document.getElementById('chronotime').className = "text-danger h3"; //Change timer color to red
                    }
                },

                /* Methode used to get all the existing series from the API */
                getSeries(){
                    this.is_loading = true;
                    axios.get(url + "series").then((response) => {
                        this.allSeries = response.data._embedded.series;
                        this.is_loading = false;

                        //remove Awaiting_data
                        this.allSeries = this.allSeries.filter(function(item) { 
                            return item.ville !== 'Awaiting_data';  
                        });
                    }).catch((error) => {
                        this.is_loading = false;
                        this.game_error = true;
                    });
                },

                /* Method return_home called when user want to go to home */
                return_home(){
                    this.$children[1].chronoStop();
                    this.game_error = false;
                    this.has_started = false;
                    this.end_game = false;
                    this.has_played = false;
                    this.score = 0;
                    this.score_increment = 0;
                },

                /* Method imgLoaded called when img is fully loaded */
                imgLoaded(){
                    this.img_is_loading = false;
                    this.$children[0].clearMap();
                },

                /* Method getBestScores used to get the best score array of the serie */
                getBestScores(){
                    this.is_loading = true;
                    axios.get(url + "parties?byScore=true").then((response) => {
                        this.is_loading = false;
                        this.bestScores = response.data;
                        //Sort by score desc
                        this.sortByKeyDesc(this.bestScores, 'score');
                        this.bestScores = this.bestScores.slice(0,10);
                        this.scoresLoeaded = true;
                    }).catch((error) => {
                        this.is_loading = false;
                        this.game_error = true;
                    });
                },

                /* Method sortByKeyDesc used to sort an array desc */
                sortByKeyDesc(array, key) {
                    return array.sort(function (a, b) {
                        let x = a[key]; 
                        let y = b[key];
                        return ((x > y) ? -1 : ((x < y) ? 1 : 0));
                    });
                }
            },
        });
        </script>  
    </body>
</html>