<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GeoQuizz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./style/css/bootstrap-grid.min.css">
        <link rel="stylesheet" type="text/css" href="./style/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" type="text/css" href="./style/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="./style/css/player.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src="./script/jquery.min.js"></script> 
        <script src="./script/bootstrap.bundle.min.js"></script> 
        <script src="./script/bootstrap.min.js"></script> 
    </head>

    <body>
        <div id="app">
            <section id="home">
                    <div v-if="is_loading">
                        <div class="pin"></div>
                        <div class="pulse"></div>
                    </div>
                    <transition v-if="!has_started && !is_loading" name="fade">
                        <div id="center" class="d-flex justify-content-center align-items-center">
                            <div id="new-form" class="col-md-9 no_padding">
                                <img src="logo.png" class="logo img-fluid mx-auto d-block">
                                <div class="form-row no_padding no_margin">
                                    <div class="note">
                                        <p class="h2">Commencer une nouvelle partie</p>
                                        <p class="h4">Embarquer pour une expérience qui vous fera découvrir le monde.</p>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <input type="text" class="form-control" v-model="pseudo" placeholder="Pseudo" id="inputPseudo">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select id="inputSerie" v-model="actualSerie" class="form-control">
                                            <option value="" disabled selected>Série</option>
                                            <option v-for="opt in allSeries" v-bind:value="opt">{{opt.ville}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select id="inputDifficulty" v-model="difficulty" class="form-control">
                                            <option value="" disabled selected>Difficulté</option>
                                            <option value="750">Facile</option>
                                            <option value="500" >Moyen</option>
                                            <option value="250">Dificile</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <button id="btn_newGame" type="submit" v-on:click="create_game" class="btn btn-primary">Nouvelle partie</button>
                                
                                <div v-if="game_error" class="alert alert-danger text-center" role="alert">
                                    Ohoh ! Il y'a eu un problème, veuillez-réessayer ultérieurement.
                                </div>

                                <div class="alert alert-success text-center">
                                    Pour savoir comment jouer &darr;
                                </div>
                            </div>
                        </div>
                    </transition>
                    <div id="player" v-if="has_started">
                        <div class="col-md-8 no_padding">
                            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                                <a class="navbar-brand" href="#">Navbar</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <!-- MAP -->
                            <lmap>
                            </lmap>
                        </div>
        
                        <div id="right_panel" class="col-md-4 no_padding">
                            <!-- Right Menu -->
                            <div>
                                <img v-on:click="enlargedImage = true" class="img-fluid searchedImage" :src="this.images[index_img].url"/>
        
                                <div v-if="enlargedImage" class="modal-container">
                                    <div v-on:click="enlargedImage = false" class="modal-body">
                                        <img v-on:click="enlargedImage = true" class="img-fluid enlargedImage" :src="this.images[index_img].url"/>
                                    </div>
                                </div>
                            </div>
        
                            <div id="infos">
                                <chronometer></chronometer>
                                <h2>Score : {{score}}</h2>
                                <button v-if="has_played" class="btn btn-secondary btn-lg" @click="next_round">Photo suivante !</button>
        
                                <p v-if="has_played && score_increment === 5" class='alert alert-success'>Bien joué, la distance est de {{distanceBetween}}km, trouvé en {{time.min}} minutes, {{time.sec}} secondes et {{time.msec}} ms. <strong>+ 5 points !</strong></p>
                                <p v-if="has_played && score_increment === 3" class='alert alert-warning'>Presque, la distance est de {{distanceBetween}}km, trouvé en {{time.min}} minutes, {{time.sec}} secondes et {{time.msec}} ms. <strong>+ 3 points !</strong></p>
                                <p v-if="has_played && score_increment === 1" class='alert alert-danger'>Pas fou, la distance est de {{distanceBetween}}km, trouvé en {{time.min}} minutes, {{time.sec}} secondes et {{time.msec}} ms. <strong>+ 1 point !</strong></p>
                                <p v-if="has_played && score_increment === 0" class='alert alert-secondary'>Raté, la distance est de {{distanceBetween}}km, trouvé en {{time.min}} minutes, {{time.sec}} secondes et {{time.msec}} ms. <strong>Vous ne gagnez aucun point.</strong></p>
        
                                <p v-if="has_played" class=''>Le lieu était {{this.images[this.index_img].description}}</p>
                                <button v-if="isSelected" @click="validate_choice" class="btn btn-primary btn-lg">Valider le choix</button>
                                <div v-if="game_error" class="alert alert-danger text-center" role="alert">
                                    Ohoh ! Il y'a eu un problème, veuillez-réessayer ultérieurement.
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <section class="d-flex justify-content-center align-items-center" v-if="!has_started && !is_loading" id="how-to">
                <div id="new-form" class="col-md-9 no_padding">
                    <div class="form-row no_padding no_margin">
                        <div class="form-group col-md-5">
                            <p class="h1">Comment jouer ?</p>
                        </div>
                        <div class="form-group col-md-6">
                            <p class="h3">Un jeu amusant où tu dois positionner une photo sur la carte de ta ville sans te tromper et plus vite que les autres !</p>
                            <br/><ul class="list-group list-group-flush">
                                <li class="list-group-item">10 photos à placer sur la même carte</li>
                                <li class="list-group-item">A chaque réponse : des points</li>
                                <li class="list-group-item">objectif : obtenir un maximum de points</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>  


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- <script src="./script/vue.min.js"></script> -->
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script> 
        <!-- <script src="https://unpkg.com/axios/dist/axios.js"></script> -->
        <script src="./script/axios.min.js"></script>
        <script src="./components/lmap.js"></script> 
        <script src="./components/chronometer.js"></script> 
        <script>
        const url = "http://a48354ff.ngrok.io/";
        new Vue({
            el: '#app',
            data: { 
                enlargedImage: false,
                game_id: '',
                token: '',
                images: [
                ],
                index_img: 0,
                //Game
                pseudo: '',
                allSeries : {}, //All existing series from the API
                actualSerie: '', //Serie choosen by the user
                is_loading: false,
                game_error: false,
                has_started: false,
                end_game: false,
                has_played: false,
                isSelected: false,
                distanceBetween: 0,
                score: 0,
                score_increment: 0,
                difficulty: 500,
                time: {
                    sec:0,
                    min:0,
                    hr:0,
                    msec:0
                },
                //Map
                map_data:{
                    map_lat:48.6937223,
                    map_lng:6.1834097,
                    map_zoom:13,
                    map_city:'Nancy'
                }
            },

            mounted() {
                this.getSeries();
                document.getElementById('inputDifficulty').selectedIndex = 0; //Second selected, NE FONCTIONNE PLUS ?
            },

            methods: { 
                /* Method used to initialize the game */
                create_game(){
                    if(this.pseudo !== "")
                        document.getElementById("inputPseudo").classList.remove("is-invalid");
                    else
                        document.getElementById("inputPseudo").classList.add("is-invalid");
                    
                    if(this.actualSerie !== "")
                        document.getElementById("inputSerie").classList.remove("is-invalid");
                    else
                        document.getElementById("inputSerie").classList.add("is-invalid");
                    
                    if((this.actualSerie !== "") && (this.pseudo !== "")){
                        //Instanciate map
                        this.map_data.map_lat = this.actualSerie.map_lat;
                        this.map_data.map_lng = this.actualSerie.map_long;
                        this.map_data.map_city = this.actualSerie.ville;
                        document.getElementById("btn_newGame").disabled = true; //Disable button, prevent multiple click
                        this.is_loading = true;
                        //Create the game

                        let options = {joueur: this.pseudo, serie: this.actualSerie};
                        axios.post(url + "parties?limit=10", options).then((responsePartie) => {
                            this.images = responsePartie.data.photos;
                            //Adding image url
                            this.images.forEach(element => {
                                element.url = url + "photos/" + element.url;
                            });
                            this.has_started = true;
                            this.is_loading = false;
                        }).catch((error) => {
                            this.is_loading = false;
                            this.game_error = true;
                            document.getElementById("btn_newGame").disabled = false; //Enable button if error
                        });
                    }
                },

                /* Method used to get the choice (marker)
                @Param latlng Lat and lng of the point */
                submit_choice(latlng){
                    this.isSelected = false;
                    let distance = this.distance(latlng['lat'],latlng['lng'],this.images[this.index_img]['latitude'],this.images[this.index_img]['longitude']);
                    if(distance < this.difficulty){
                        this.score_increment = 5;
                        this.score += 5;
                    }
                    else if(distance < 2*this.difficulty){
                        this.score_increment = 3;
                        this.score += 3;
                    }
                    else if(distance < 3*this.difficulty){
                        this.score_increment = 1;
                        this.score += 1;
                    }
                    else{
                        this.score_increment = 0;
                    }
                    this.distanceBetween = (distance / 1000).toFixed(2);
                    this.has_played = true;
                },

                /* Method used to get the distance (in metter) of 2 points (lat, lng) */
                distance(lat1, lng1, lat2, lng2){
                    let earth_radius = 6378137;   // Earth = radius 6378km
                    let rlo1 = this.deg2rad(lng1);
                    let rla1 = this.deg2rad(lat1);
                    let rlo2 = this.deg2rad(lng2);
                    let rla2 = this.deg2rad(lat2);
                    let dlo = (rlo2 - rlo1) / 2;
                    let dla = (rla2 - rla1) / 2;
                    let a = (Math.sin(dla) * Math.sin(dla)) + Math.cos(rla1) * Math.cos(rla2) * (Math.sin(dlo) * Math.sin(dlo));
                    let d = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                    let meter = (earth_radius * d);

                    return meter;
                },

                /* Method used to convert degrees to radiant */
                deg2rad(degrees)
                {
                    var pi = Math.PI;
                    return degrees * (pi/180);
                },

                /* Method used to go to the next photo */
                next_round(){
                    //Test if end of game
                    if(this.index_img+1 === this.images.length){
                        //End
                        this.end_game = true;
                    }else{
                        this.isSelected = false;
                        this.has_played = false;
                        this.index_img++;
                        this.$children[1].chronoStop();
                        this.$children[1].chronoReset();
                        this.$children[0].clearMap();
                        document.getElementById('chronotime').className = "text-danger"; //Change timer color to red
                    }
                },

                /* Methode used to validate the choice of the user (marker) */
                validate_choice(){
                    this.$children[0].validate_choice();
                    this.$children[1].chronoStop();
                    let time = this.$children[1].diff;
                    this.time.msec = time.getMilliseconds();
                    this.time.sec = time.getSeconds();
                    this.time.min = time.getMinutes();
                    this.time.hr = time.getHours()-1;
                    document.getElementById('chronotime').className = "text-success"; //Change timer color to green
                },

                /* Methode used to get all the existing series from the API */
                getSeries(){
                    this.is_loading = true;
                    axios.get(url + "series/").then((response) => {
                        this.allSeries = response.data._embedded.series;
                        this.is_loading = false;
                    }).catch((error) => {
                        this.is_loading = false;
                        this.game_error = true;
                    });
                }
            },
        });
        </script>  
    </body>
</html>