@import 'reset';
@import 'image';

#header {
    form {
        margin: auto;
        text-align: center;
    }
}

#player{
    display:flex;
}

.lmap{
    height: 100vh;
    position: relative;
    border-right: 1px solid black;

    #map{
        user-select: none !important;
        height: 100vh;
    }
}


#right_panel {
    display: flex;
    flex-direction: column;
}

#infos {
    width: 100%;
    padding: 10% 0;
    flex-grow: 1;
    text-align: center; 

    button {
        margin: 10%;
    }
}

.no_padding
{
    padding: 0 !important;
}