@import 'reset';
@import 'image';
@import 'loader';


body{
    font-family: 'Open Sans', sans-serif;

    #app{
        #home{
            height: 100vh;
            width: 100vw;
        }

        #how-to{
            height: 100vh;
            width: 100vw;
            background-color: #e2574c !important;
            color:white;

            li{
                background-color: #e2574c !important;
            }
        }

        #center {
            height: 100%;
            
    
            #new-form{  
                z-index: 3;
                border: none;
                button{
                    border:none;
                    margin: 25px;
                    width: 200px;
                    font-size: 1.5em;
                }
    
                .form-group{
                    margin-top: 25px !important;
                    margin-left: 2% !important;
                    margin-bottom: 10px !important;
    
                    p{
                        margin-top: 10px !important;
                    }
    
                    input, select{
                        font-size: 1.2em;
                    }
                }

                .logo {
                    width: 40%;
                    margin: 15px auto;
                }
    
                .note{
                    text-align: center;
                    width: 100%;
                    padding: 10px;
                    background-color: #e2574c;
                    border-radius: 5px;
                    color: #fff;
                }
        
                form {
                    margin: auto;
                    text-align: center;
                }
            }
        }
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
    
    #player{
        display:flex;
    }
    
    .lmap{
        height: 100vh;
        position: relative;
        border-right: 1px solid black;
    
        #map{
            user-select: none !important;
            height: 100vh;
        }
    }
    
    #right_panel {
        display: flex;
        flex-direction: column;
    }
    
    #infos {
        width: 100%;
        padding: 10% 0;
        flex-grow: 1;
        text-align: center; 
    
        button {
            margin: 10%;
        }
    }
}

.no_padding{
    padding: 0 !important;
}

.no_margin{
    margin: 0 !important;
}